.git
__pycache__
*.pyc

combined_training_dataset.zip
combined_training_dataset/
dataset/
subset_200/
notebooks/
analysis_results/
uploaded_images/
runs_sensitive/**
!runs_sensitive/yolov86/
!runs_sensitive/yolov86/weights/
!runs_sensitive/yolov86/weights/best.pt

*.ipynb
*.crx
*.pem